@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Open+Sans&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: #F2E3D5;
    --body-color: #000000;
    --heading-color: #0c3b4e;
    --contrast-color: 60, 166, 166;
    --highlight-color: #F45E63;
}

body {
    font-size: 18px;
    line-height: 1.5;
    color: var(--body-color);
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
    background-image: repeating-linear-gradient(45deg, rgba(151, 196, 255, 0.28) 0px, rgba(151, 196, 255, 0.28) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}

main {
    background-color: rgba(var(--contrast-color), 0.266);
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--heading-color);
}

header {
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: rgba(var(--contrast-color), 1.0);
}

a:hover {
    color: var(--highlight-color);
}

body#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 14em;
    border: 1px solid var(--heading-color);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 74%);
}

@media screen and (min-width: 576px) {
    body#about img {
        float: left;
        display: inline;
        margin-right: var(--horizontal-space);
        margin-bottom: var(--vertical-space);
    }
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
        "nav  nav"
        "main  main"
        "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;

}

@media screen and (min-width: 576px) {
    body {
        grid-template-areas: "head nav"
            "main  main"
            "foot foot";
        grid-template-rows: auto 1fr auto;
    }

    body>nav {
        grid-area: nav;
        padding-top: var(--vertical-space);
    }

    body>nav ul {
        float: right;
    }
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
}

/* body {
    max-width: 50em;
} */
body>main>*:first-child:before {
    content: "";
    border-top: 2px solid var(--heading-color);
    display: block;
    padding-top: var(--vertical-space);
}

body {
    max-width: 50em;
}

body>nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2.4;
    display: flex;
}

body>nav ul li {
    display: inline-block;
    padding-right: 1em;
}

nav>ul:hover li {
    opacity: 0.6;
    filter: blur(1px);
}

nav>ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header {
    padding-bottom: 0;
}

header h1,
footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 576px) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
    margin-left: -0.66em;
}